<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself!!</h6>
                </div>
                <form [formGroup] ="signupForm" (ngSubmit)="signUp()">
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input formControlName="fullname" type="text" class="form-control" id="fullname">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input formControlName="mobile" type="number" class="form-control" id="mobile">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary" id="signup">signUp</button>
                </form>
                <a style="color: white; margin-top: 10px;" routerLink="/login">Already registered? Click to Login!</a>
            </div>
        </div>
    </div>
</div>