<header>
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand ml-5" href="#">
            <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            myPortfolio
        </a>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="build"> Build a website</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">See examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About us</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container1">
    <p class="p1">Customizable and
        truly unique</p>
    <p class="p2">How can I create my portfolio freely and unique? Your online portfolio
        website should reflect your creativity and originality. Rather than being limited
        to a standard theme, Portfoliobox allows you to use a different style for every single page.
        This unparalleled freedom in design options is the reason why over one million
        unique websites have been created on this platform.
    </p>
    <div class="container">
      <img id ="image" src="/assets/images/slider3.jfif" alt="Customizable">
    </div>
    <div class="button">
      <button type="button" class="btn btn-primary">Create your own site</button>
    </div>
    <div class="button">
      <button id ="btn1"type="button" class="btn btn-info">View more examples</button>
    </div>
</div>

<div class="container" id="build">
  <h2 id="h2">We've covered all</h2>
  <p id="p3">The leading online website builder for creative professionals</p>
</div>
<div class="container2" id="grid">
    <div class="row">
      <div class="col-1" id="gc"></div>
      <div class="col-2" id="gc">
        <!-- card -->
        <div class="card" style="width:15rem">
          <img class="card-img-top" src="/assets/images/photograph.jfif" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Photographers</h4>
            <div id ="cardlink">
              <a href="#" class="btn btn-info">Learn More</a>
            </div>
          </div>
        </div>
        <!-- card -->
      </div>

      <div class="col-2" id="gc">
        <!-- card -->
        <div class="card" style="width:15rem">
          <img class="card-img-top" src="/assets/images/designers.jfif" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Designers</h4>
            <div id ="cardlink">
              <a href="#" class="btn btn-info">Learn More</a>
            </div>
          </div>
        </div>
        <!-- card -->
      </div>

      <div class="col-2" id="gc">
        <!-- card -->
        <div class="card" style="width:15rem">
          <img class="card-img-top" src="/assets/images/illustrator.jfif" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">illustrators</h4>
            <div id ="cardlink">
              <a href="#" class="btn btn-info">Learn More</a>
            </div>
          </div>
        </div>
        <!-- card -->
      </div>

      <div class="col-2" id="gc">
        <!-- card -->
        <div class="card" style="width:15rem">
          <img class="card-img-top" src="/assets/images/artist.jfif" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Artists</h4>
            <div id ="cardlink">
              <a href="#" class="btn btn-info">Learn More</a>
            </div>
          </div>
        </div>
        <!-- card -->
      </div>

      <div class="col-2" id="gc">
        <!-- card -->
        <div class="card" style="width:15rem">
          <img class="card-img-top" src="/assets/images/makeup.jfif" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Stylists & Models</h4>
            <div id ="cardlink">
            <a href="#" class="btn btn-info">Learn More</a>
          </div>
          </div>
        </div>
        <!-- card -->
      </div>
    </div>
</div>
<!-- about -->
<div class="container" id="build">
  <h2 class="p1">Who is myPortfolio</h2>
  <p class="p2">Building portfolio tools for creatives since 2005* we're a small team at the heart of the creative
     community dedicated to help you show off your work.</p>
     <p class="p2">To put this into perspective. We've been around before Twitter, before the iPhone & launched at the same time as Youtube.
      We've been doing this for a while and still enjoy building useful tools for creatives.
    </p>
</div>
<!-- about -->


<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> myPortfolio.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->